# Barcode + QR Detection Augmentation Config

lr0: 0.01
lrf: 0.01
momentum: 0.937
weight_decay: 0.0005
warmup_epochs: 3.0
warmup_momentum: 0.8
warmup_bias_lr: 0.1

box: 0.05
cls: 0.5
iou: 0.2

hsv_h: 0.015
hsv_s: 0.5
hsv_v: 0.4

degrees: 5.0
translate: 0.1
scale: 0.5
shear: 0.0
perspective: 0.0
flipud: 0.0
fliplr: 0.5

mosaic: 1.0
mixup: 0.1
copy_paste: 0.0